#epines-copyButton {
    height: 20px;
    width: auto;
    filter: invert(91%) sepia(10%) saturate(357%) hue-rotate(196deg) brightness(98%) contrast(92%);
}

#epines-copyButton:hover {
    opacity: 0.5;
    cursor: pointer;
}